<footer class="footer" role="contentinfo">
    <div class="row">
        <div class="large-8 medium-12 small-24 columns">
            <p>
                qmedia GmbH
                <br> Grafinger Str. 6
                <br>
                <br> 81671 München
                <br>
                <br>
            </p>
            <ul class="footer-contact">
                <li class="envelope"><a href="mailto:info@qmedia.de">info@qmedia.de</a></li>
                <li class="phone">+49 89 416 120 10</li>
                <li class="fax">+49 89 416 120 199</li>
            </ul>
            <p></p>
        </div>
        <div class="large-8 medium-12 small-24 columns">
            &nbsp;
        </div>
        <div class="large-8 medium-12 small-24 columns">
            <div class="footer-social-icons">
                <div class="footer-social-header">
                    FOLGE UNS
                </div>
                <ul class="">
                    <li><a href="#" target="_blank" rel="nofollow"><i class="fa fa-2x fa-twitter-square"></i></a></li>
                    <li><a href="#" target="_blank" rel="nofollow"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                    <li><a href="#" target="_blank" rel="nofollow"><i class="fa fa-2x fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <ul class="footer-copyright">
                <li>&copy;{{ "now" | date: "%Y" }} qmedia GmbH</li>
            </ul>
        </div>
        <div class="small-12 columns">
            <nav role="navigation">
                <ul id="menu-footer-menu" class="menu">
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://www.dachmedia.de/impressum/">Impressum</a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://www.dachmedia.de/kontakt/">Kontakt</a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://www.dachmedia.de/datenschutz/">Datenschutz</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>