<header class="header" role="banner">
    <!-- This navs will be applied to the topbar, above all content
    To see additional nav styles, visit the /parts directory -->
    <!-- By default, this menu will use off-canvas for small
   and a topbar for medium-up -->
    <header>
        <div class="row">
            <div class="small-24 columns">
                <div class="top-bar" id="top-bar-menu">
                    <div class="top-bar-left float-left">
                        <ul class="menu logo">
                            <li><a href="http://www.dachmedia.de"></a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right show-for-medium">
                        <ul id="menu-main-menu-1" class="vertical medium-horizontal menu dropdown" data-dropdown-menu>
                            <li><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/service/">Service</a></li>
                            <li ><a href="{{ site.baseurl }}/leistungen/">Leistungen</a>
                                <ul class="menu">
                                    <li><a href="{{ site.baseurl }}/beratung-internet-marketing/">Beratung Internet Marketing</a></li>
                                    <li><a href="{{ site.baseurl }}/content-marketing/">Content Marketing</a></li>
                                    <li><a href="{{ site.baseurl }}/content-management/">Content Management</a></li>
                                    <li><a href="{{ site.baseurl }}/conversion-optimierung/">Conversion Optimierung</a></li>
                                    <li><a href="{{ site.baseurl }}/redaktion/">Redaktion</a></li>
                                    <li><a href="{{ site.baseurl }}/online-werbung/">Online Werbung</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ site.baseurl }}/agentur/">Agentur</a></li>
                            <li><a href="{{ site.baseurl }}/kontakt/">Kontakt</a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right float-right show-for-small-only">
                        <ul class="menu">
                            <!-- <li><button class="menu-icon" type="button" data-toggle="off-canvas"></button></li> -->
                            <li><a data-toggle="off-canvas" aria-expanded="false" aria-controls="off-canvas">Menu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>
<div></div>