<div class="off-canvas position-right show-for-small-only is-open" id="off-canvas" data-off-canvas="iladyx-off-canvas" data-position="right" aria-hidden="false" tabindex="-1">
    <ul id="menu-main-menu" class="vertical menu" data-accordion-menu="rmvktw-accordion-menu" role="menu" aria-multiselectable="true">
        <li class="active"><a href="{{ site.baseurl }}/" tabindex="0">Home</a></li>
        <li><a href="{{ site.baseurl }}/service/">Service</a></li>
        <li class="is-accordion-submenu-parent" aria-haspopup="true" aria-expanded="false" aria-label="Leistungen" aria-controls="xhu17n-acc-menu"><a href="{{ site.baseurl }}/leistungen/">Leistungen</a>
            <ul class="vertical menu is-accordion-submenu" data-submenu="" aria-hidden="true" role="menu" id="xhu17n-acc-menu" style="display: none;">
                <li class="is-submenu-item is-accordion-submenu-item"><a href="{{ site.baseurl }}/beratung-internet-marketing/">Beratung Internet Marketing</a></li>
                <li is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}/content-marketing/">Content Marketing</a></li>
                <li is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}/content-management/">Content Management</a></li>
                <li is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}/conversion-optimierung/">Conversion Optimierung</a></li>
                <li is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}/redaktion/">Redaktion</a></li>
                <li is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}/online-werbung/">Online Werbung</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/agentur/">Agentur</a></li>
        <li><a href="{{ site.baseurl }}/kontakt/">Kontakt</a></li>
    </ul>
</div>