<div class="off-canvas position-right show-for-small-only is-open" id="off-canvas" data-off-canvas="iladyx-off-canvas" data-position="right" aria-hidden="false" tabindex="-1">
    <ul id="menu-main-menu" class="vertical menu" data-accordion-menu>
        {% for item in site.data.topnav %}
            {% if item.name == page.title %}
            {% assign active_class = "active" %}
            {% else %}
            {% assign active_class = "" %}
            {% endif %}

            {% if item.children %}
            <li class="{{active_class}} is-accordion-submenu-parent"><a href="{{ site.baseurl }}{{ item.path }}">{{ item.name }}</a>
                <ul class="vertical menu is-accordion-submenu">
                    {% for child in item.children %}
                    {% if page.url contains child.path %}{% assign active = 'actives' %}{% else %}{% assign active = '' %}{% endif %}
                    <li class="{{ active }} is-submenu-item is-accordion-submenu-item" role="menuitem"><a href="{{ site.baseurl }}{{ child.path }}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li class="{{active_class}}"><a href="{{ site.baseurl }}{{ item.path }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>