<script type='text/javascript' src='{{ site.baseurl }}/assets/js/what-input.min.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/foundation.js'></script>
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/scripts.js'></script>
{% if page.title == 'Home' %}
<script>
  jQuery(function($) {

    $("h1")
        .wrapInner("<span>");

    $("h1 br")
        .before("<span class='spacer'>")
        .after("<span class='spacer'>");

});
</script>
{% endif %}
