---
layout: default
---

<div id="inner-content" class="row">
    {% if page.hero-image %}
    <div class="small-24 columns">
        <img width="970" height="300" src="{{ site.baseurl }}/assets/images/{{ page.hero-image }}.jpg" alt="" srcset="{{ site.baseurl }}/assets/images/{{ page.hero-image }}.jpg 970w, {{ site.baseurl }}/assets/images/{{ page.hero-image }}-300x93.jpg 300w, {{ site.baseurl }}/assets/images/{{ page.hero-image }}-768x238.jpg 768w" sizes="(max-width: 970px) 100vw, 970px">
    </div>
    {% endif %}
    {% if page.permalink == '/leistungen/' %}
    <main id="main" class="large-24 medium-24 columns" role="main">
    {% else %}
    <main id="main" class="large-16 medium-16 columns" role="main">
    {% endif %}
        <article role="article" itemscope="" itemtype="http://schema.org/WebPage">

          {% if page.page-title %}<h1 class="page-title">{{ page.page-title }}</h1>{% endif %}

          <section class="entry-content" itemprop="articleBody">
            {{ content }}
          </section> <!-- end article section -->

        </article>
        <!-- end article -->
    </main>
    <!-- end #main -->
    {% unless page.permalink == '/leistungen/'%}
    <div id="sidebar1" class="sidebar large-8 medium-8 columns" role="complementary">
        <div class="alert">
        </div>
        <div class="sidebar-cta-box">
            <div class="button">
                Kostenlose Erstberatung:
                <br>
                <span class="spacer">&nbsp;</span> 089 / 416 120 10
            </div>
            <div class="button">
                Hier geht es zum
                <br>
                <a href="{{ site.baseurl }}/kontakt/">Kontaktformular</a>
            </div>
        </div>
    </div>
    {% endunless %}
</div>